<header>
    <div class="container">
        <app-search-input input_text="First Name"></app-search-input>
        <app-search-input input_text="Last Name"></app-search-input>
        <app-search-input input_text="Birthday"></app-search-input>
        <br>
        <app-search-input input_text="Email"></app-search-input>
        <app-search-input input_text="Position"></app-search-input>
        <app-search-input input_text="Department"></app-search-input>
        <br>
        <app-button button_color="DodgerBlue" text_color="White" text="Search" (btnClick)="toggleSearch()"></app-button>
        <app-button button_color="Tomato" text_color="White" text="Reset" (btnClick)="toggleReset()"></app-button>
    </div>
</header>
