<div class="container">
    <h3><a href= "alo" style="float: right; margin-top: 10px;">Get the Excel version</a></h3>
    <div *ngFor="let employee of employees; let i = index">
        <div *ngIf="i == 0 || employees[i].department.name != employees[i - 1].department.name">
            <h3><strong>{{employee.department.name}} department</strong></h3>
            <br>
        </div>
        <h4>{{employee.lname}} {{employee.fname}} {{employee.birthday}} {{employee.email}} {{employee.position.name}}</h4>
        <br>
    </div>
</div>

