<h1 mat-dialog-title>{{data?.employeeId ? "Edit" : "Add"}} Employee</h1>
<div mat-dialog-content>

    <div class="container">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput [(ngModel)]="data.fname" required>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput [(ngModel)]="data.lname" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Birthday</mat-label>
                    <input matInput [(ngModel)]="data.birthday" [matDatepicker]="picker" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="data.email" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Position</mat-label>
                    <input matInput [(ngModel)]="data.positionName" required [formControl]="controlPos"
                        [matAutocomplete]="autoPos">

                    <mat-autocomplete #autoPos="matAutocomplete">
                        <mat-option *ngFor="let position of filteredPositions | async" [value]="position">
                            {{position}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Department</mat-label>
                    <input matInput [(ngModel)]="data.departmentName" required [formControl]="controlDep"
                        [matAutocomplete]="autoDep">

                    <mat-autocomplete #autoDep="matAutocomplete">
                        <mat-option *ngFor="let department of filteredDepartments | async" [value]="department">
                            {{department}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>