<h1 mat-dialog-title>{{data?.employeeId ? ('edit' | translate) : ('add' | translate)}} {{'emp' | translate}}</h1>
<div mat-dialog-content>
    <form [formGroup]="dialogForm">
    <div class="container">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>{{'fname' | translate}}*</mat-label>
                    <input matInput formControlName="fname">
                    <mat-error *ngIf="dialogForm.get('fname')?.hasError('pattern')">{{'only_let' | translate}}</mat-error>
                    <mat-error *ngIf="dialogForm.get('fname')?.hasError('required')">{{'fname' | translate}} {{'must' | translate}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>{{'lname' | translate}}*</mat-label>
                    <input matInput formControlName="lname">
                    <mat-error *ngIf="dialogForm.get('lname')?.hasError('pattern')">{{'only_let' | translate}}</mat-error>
                    <mat-error *ngIf="dialogForm.get('lname')?.hasError('required')">{{'lname' | translate}} {{'must' | translate}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>{{'bday' | translate}}*</mat-label>
                    <mat-error *ngIf="dialogForm.get('birthday')?.hasError('required')">{{'bday' | translate}} {{'must' | translate}}</mat-error>
                    <input matInput formControlName="birthday" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>{{'email' | translate}}*</mat-label>
                    <mat-error *ngIf="dialogForm.get('email')?.hasError('required')">{{'email' | translate}} {{'must' | translate}}</mat-error>
                    <mat-error *ngIf="dialogForm.get('email')?.hasError('email')">{{'wrong_form' | translate}}</mat-error>
                    <input matInput formControlName="email">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>{{'pos' | translate}}*</mat-label>
                    <input matInput formControlName="positionName" [matAutocomplete]="autoPos">
                    <mat-error *ngIf="dialogForm.get('positionName')?.hasError('required')">{{'pos' | translate}} {{'must' | translate}}</mat-error>
                    <mat-autocomplete #autoPos="matAutocomplete">
                        <mat-option *ngFor="let position of filteredPositions | async" [value]="position">
                            {{position}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>{{'dep' | translate}}*</mat-label>
                    <input matInput formControlName="departmentName" [matAutocomplete]="autoDep">
                    <mat-error *ngIf="dialogForm.get('departmentName')?.hasError('required')">{{'dep' | translate}} {{'must' | translate}}</mat-error>
                    <mat-autocomplete #autoDep="matAutocomplete">
                        <mat-option *ngFor="let department of filteredDepartments | async" [value]="department">
                            {{department}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">{{'cancel' | translate}}</button>
    <button mat-button [mat-dialog-close]="data" (click)="save()" [disabled]="!dialogForm.valid">{{'save' | translate}}</button>
</div>