<h1 mat-dialog-title>{{data?.employeeId ? "Edit" : "Add"}} Employee</h1>
<div mat-dialog-content>
    <form [formGroup]="dialogForm">
    <div class="container">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="fname">
                    <!-- <mat-error *ngIf="dialogForm.get('fname').hasError('pattern')">Enter only letters</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lname">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Birthday</mat-label>
                    <input matInput formControlName="birthday" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Position</mat-label>
                    <input matInput formControlName="positionName" [matAutocomplete]="autoPos">

                    <mat-autocomplete #autoPos="matAutocomplete">
                        <mat-option *ngFor="let position of filteredPositions | async" [value]="position">
                            {{position}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Department</mat-label>
                    <input matInput formControlName="departmentName"
                        [matAutocomplete]="autoDep">

                    <mat-autocomplete #autoDep="matAutocomplete">
                        <mat-option *ngFor="let department of filteredDepartments | async" [value]="department">
                            {{department}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>