<h1 mat-dialog-title>{{'welcome' | translate}}</h1>
<div mat-dialog-content>
    <form [formGroup]="dialogForm">
    <div class="container">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>{{'username' | translate}}*</mat-label>
                <input matInput formControlName="username">
                <mat-error *ngIf="dialogForm.get('fname')?.hasError('required')">{{'username' | translate}} {{'must' | translate}}</mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>{{'password' | translate}}*</mat-label>
                <input matInput formControlName="password">
                <mat-error *ngIf="dialogForm.get('password')?.hasError('required')">{{'password' | translate}} {{'must' | translate}}</mat-error>
            </mat-form-field>
        </div>
    </div>
</form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">{{'cancel' | translate}}</button>
    <button mat-button [mat-dialog-close]="data" (click)="logIn()" [disabled]="!dialogForm.valid">{{'logIn' | translate}}</button>
</div>
